In [14]:
import requests
import pandas as pd

In [8]:
url = "https://openlibrary.org/search.json?q=python"

In [9]:
response=requests.get(url)
data=response.json()

In [13]:
for i in range(20):
    print(data["docs"][i]["title"])

Learning Python
Python
Python Cookbook
Fluent Python
Core Python Programming
Programming Python
Black Hat Python
Think Python
Python
Python For Data Analysis
Python Crash Course, 3rd Edition
Introduction to Machine Learning with Python
Data science from scratch
Core Python programming
Python Crash Course, 2nd Edition
Automate the Boring Stuff with Python
Python crash course
The Hidden Oracle
Python Data Science Handbook
Practical Statistics for Data Scientists: 50 Essential Concepts

In [15]:
titles = [data["docs"][i]["title"] for i in range(30)]

In [16]:
df = pd.DataFrame({"title": titles})
df.to_csv("books.csv", index=False)

In [17]:
df.head()

                     title
0          Learning Python
1                   Python
2          Python Cookbook
3            Fluent Python
4  Core Python Programming

In [18]:
df.describe()

         title
count       30
unique      27
top     Python
freq         4

In [19]:
df.columns

Index(['title'], dtype='object')

In [20]:
df.index

RangeIndex(start=0, stop=30, step=1)