In [2]:
!pip install requests beautifulsoup4

Requirement already satisfied: requests in c:\users\kiit0001\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: beautifulsoup4 in c:\users\kiit0001\anaconda3\lib\site-packages (4.12.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kiit0001\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kiit0001\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kiit0001\anaconda3\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kiit0001\anaconda3\lib\site-packages (from requests) (2025.11.12)
Requirement already satisfied: soupsieve>1.2 in c:\users\kiit0001\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
url = "https://books.toscrape.com/"
response = requests.get(url)

In [7]:
soup = BeautifulSoup(response.text, "html.parser")

In [9]:
titles = []
prices = []
books = soup.find_all("article", class_="product_pod")

In [10]:
for book in books:
    title = book.h3.a["title"]
    price = book.find("p", class_="price_color").text.strip()

    titles.append(title)
    prices.append(price)


df = pd.DataFrame({
    "Title": titles,
    "Price": prices
})

df.to_csv("scraped_books.csv", index=False)

In [11]:
df.head()

                                   Title    Price
0                   A Light in the Attic  Â£51.77
1                     Tipping the Velvet  Â£53.74
2                             Soumission  Â£50.10
3                          Sharp Objects  Â£47.82
4  Sapiens: A Brief History of Humankind  Â£54.23

In [12]:
df

                                                Title    Price
0                                A Light in the Attic  Â£51.77
1                                  Tipping the Velvet  Â£53.74
2                                          Soumission  Â£50.10
3                                       Sharp Objects  Â£47.82
4               Sapiens: A Brief History of Humankind  Â£54.23
5                                     The Requiem Red  Â£22.65
6   The Dirty Little Secrets of Getting Your Dream...  Â£33.34
7   The Coming Woman: A Novel Based on the Life of...  Â£17.93
8   The Boys in the Boat: Nine Americans and Their...  Â£22.60
9                                     The Black Maria  Â£52.15
10     Starving Hearts (Triangular Trade Trilogy, #1)  Â£13.99
11                              Shakespeare's Sonnets  Â£20.66
12                                        Set Me Free  Â£17.46
13  Scott Pilgrim's Precious Little Life (Scott Pi...  Â£52.29
14                          Rip it Up and Start Again  Â£35.02
15  Our Band Could Be Your Life: Scenes from the A...  Â£57.25
16                                               Olio  Â£23.88
17  Mesaerion: The Best Science Fiction Stories 18...  Â£37.59
18                       Libertarianism for Beginners  Â£51.33
19                            It's Only the Himalayas  Â£45.17

In [13]:
df.describe()

                       Title    Price
count                     20       20
unique                    20       20
top     A Light in the Attic  Â£51.77
freq                       1        1